@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Poppins:wght@200;400;600;700&display=swap');

*{
  box-sizing: border-box
}

body{
  color: #fff;
  font-family: 'Poppins', 'sans-serif';
  background-color: #4e44ce4f;
}

/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-color: #5084eb; */
  /* background: linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%); */
background: #5f2c82;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: #10141f;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column; */
  /* flex-wrap: nowrap; */
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  
}

/* .App-link {
  color: #61dafb;
} */
.wallet-adapter-button{
  background-color: rgb(78, 68, 206) !important;
  /* margin-right:10px; */
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  text-align: center;
 
}
.wallet-adapter-dropdown{
  display: block !important;
}
.sendbtn{
  
  background-color: #35BDD0;
  border: none;
  color: #ffffff;
  padding: 15px 30px;
  text-align: center;
  font-size: 20px;
  /* margin: 50px auto; */
  /* margin-left: 5px; */
  margin-bottom: 20px;
}
.token{
  font-size: 14px;
}
.purple{
  color: rgb(33, 229, 111);
  font-weight: bold;
  /* display: inline; */
}
.balance{
  color: rgb(78, 68, 206) !important;
  font-weight: bold;
  margin-bottom: 10px !important;

}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* on mobile it'll stack */
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  flex-direction: column;
}


.box{
  background-color: #4e44ce4f;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
} 

.box-blue{
  background-color: rgb(78, 68, 206);
  padding: 20px;
}

.box p{
  margin: 0;
  
}
.form-control{
  /* display: none; */
  position: relative;
  margin-bottom: 20px;
}

input{
  border-radius: 5px;
  border: 2px solid hsl(246, 25%, 77%);
  font-family: 'Poppins', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  padding: 15px 25px;
  display: block;
  width: 100%;
  margin: 0 auto;
}


input:focus{
  border: 1px solid rgb(78, 68, 206);
  outline: none;
} 


.transaction{
  background-color: #35BDD0;
  border-radius: 5px;
  border:none;
  color: #fff;
  cursor: pointer;
  border: 1px solid #35BDD0;
  box-shadow: 0 2px solid #35BDD0;
  font-family: 'Poppins', 'sans-serif';
  font-weight: 500;
  font-size: 14px;
  padding: 15px 25px;
  display: block;
  letter-spacing: 1px;
  text-transform: uppercase;
  /* width: 100%; */
  margin: 0 auto;

  /* transition: transform 0.4s ease; */
}

.transaction:focus{

  outline: none;

}

.transaction:active{
  box-shadow: 0 0 solid hsl(154, 59%, 40%);
  transform: translateY(2px);
  
}

.gen{
  background: linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%);
  border: none;
  width: 100%;
}

.transaction[disabled] {
  /* background: #404144; */
  /* color: #999; */
  cursor: not-allowed;
}
.message{
  text-align: center;
  /* width: 350px; */
}